body {
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
  margin: 0;
  -ms-overflow-style: none;
  width: 100%;
  overflow-x: hidden;
  position: relative;
  height: 100vh;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'cambriafnt';
  src: url('../Cambria.ttf');
}

.toppadding {
  background-color: white;
  height: 2%;
}

.toppadding2 {
  margin-top: 1%;
  background-color: white;
  height: 2%;
}

.toppadding3 {
  background-color: white;
  height: 2%;
}

.border {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 13%;
}

.border .logo {
  margin-top: 0.2%;
  width: 140%;
  height: 140%;
  object-fit: contain;
}

.slideshow-container {
  max-width: 100%;
  height: 35%;
  position: relative;
  margin: auto;
  overflow: hidden;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  cursor: pointer;
  z-index: 1;
}

.arrow img {
  width: 100%;
  height: 100%;
}

.arrow-left {
  left: 20%;
}

.arrow-right {
  right: 20%;
}

.slideshow-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slideshow-image.active {
  opacity: 1;
}

.slide-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  z-index: 2;
  color: white;
  opacity: 0;
  font-size: 48px;
  font-weight: bold;
  font-style: italic;
  text-shadow: 0 0 10px #ffffff; /* Neon glow effect */
}

.slide-text.active {
  opacity: 1;
}

.info {
  font-family: "cambriafnt";
  text-align: center;
}

.infotitle {
  font-size: 48px;
  font-weight: bold;
  font-style: italic;
  color: #ffffff; /* White color */
  text-shadow: 0 0 10px #ffffff; /* Neon glow effect */
}

.infotext {
  font-size: 24px;
  font-style: italic;
  color: #ffffff; /* White color */
  text-shadow: 0 0 10px #ffffff; /* Neon glow effect */
}

.stream {
  background_color: white;
  width: 40%;
  height: 25%;
  position: relative;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
  /* Center arrows on mobile devices */
  .arrow-left {
    left: 15%;
  }

  .arrow-right {
    right: 15%;
  }

  .infotext {
    font-size: 24px;
    font-style: italic;
    color: #ffffff; /* White color */
    text-shadow: 0 0 10px #ffffff; /* Neon glow effect */
  }

  .infotitle {
    font-size: 48px;
    font-weight: bold;
    font-style: italic;
    color: #ffffff; /* White color */
    text-shadow: 0 0 10px #ffffff; /* Neon glow effect */
  }
  .slide-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    z-index: 2;
    color: white;
    opacity: 0;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    text-shadow: 0 0 10px #ffffff; /* Neon glow effect */
  }
}
